*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/static_rv_item.txt
/static_rv_bg.txt
/StaticRvAdapter.java
/StaticRvAdapter.txt
/StaticRvModel classkt.txt
/home_App.txt
/dash.txt